@import "tailwindcss";

.page-title {
    @apply text-2xl font-bold text-slate-900 tracking-tight;
}
.page-subtitle {
    @apply text-slate-500 text-sm;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}

.glass-card {
  animation: floating 6s ease-in-out infinite;
}